<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.antecky.netswitch">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver
            android:name=".ui.NetSwitchWidget"
            android:label="@string/both">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/net_switch_widget_info" />
        </receiver>

        <receiver
            android:name=".ui.NetSwitchMobileWidget"
            android:label="@string/mobile_data">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/net_switch_mobile_widget_info" />
        </receiver>

        <receiver
            android:name=".ui.NetSwitchWiFiWidget"
            android:label="@string/wifi">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/net_switch_wifi_widget_info" />
        </receiver>

        <service
            android:name=".NetChangeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>